<div class="container">
	<div class="row">
		<div class="span12">
			<strong class="title">Seja bem-vindo ao Sistema!</strong>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="box conteudo-box" style="min-height: 100px;">	
			<br>	
				<label>&nbsp;&nbsp;&nbsp;{{'MSG_INCIAL_CORPO' | translate}}</label>
			</div>		
		</div>
<!-- 
		<div class="span12">
            1<span class='ms-icone-estetoscopio'/>          2<span class='ms-icone-jornal'/>                3<span class='ms-icone-musica'/><br>
            2<span class='ms-icone-biblioteca'/>            2<span class='ms-icone-arquivo-excel'/>         3<span class='ms-icone-casa'/><br>
            3<span class='ms-icone-calculadora'/>           2<span class='ms-icone-arquivo-powerpoin'/>     3<span class='ms-icone-lixeira'/><br>
            4<span class='ms-icone-ajuda'/>                 2<span class='ms-icone-arquivo-xml'/>           3<span class='ms-icone-arquivo'/><br>
            5<span class='ms-icone-cronometro'/>            2<span class='ms-icone-arquivo-css'/>           3<span class='ms-icone-relogio'/><br>
            6<span class='ms-icone-grafico-torta'/>         2<span class='ms-icone-envelope'/>              3<span class='ms-icone-baixar-arquivo'/><br>
            7<span class='ms-icone-grafico-linha'/>         2<span class='ms-icone-buscar'/>                3<span class='ms-icone-seta-circulo-baixo'/><br>
            8<span class='ms-icone-grafico-barra'/>         2<span class='ms-icone-coracao-contraste'/>     3<span class='ms-icone-tocar-circulo'/><br>
            9<span class='ms-icone-corretor'/>              2<span class='ms-icone-estrela-contraste'/>     3<span class='ms-icone-carregar'/><br>
            10<span class='ms-icone-terminal-contraste'/>   2<span class='ms-icone-estrela'/>               3<span class='ms-icone-recarregar'/><br>

            11<span class='ms-icone-mapa'/>                 2<span class='ms-icone-usuario2'/>              3<span class='ms-icone-fechado'/><br>
            12<span class='ms-icone-alarme'/>               2<span class='ms-icone-filme'/>                 3<span class='ms-icone-desliga-volume'/><br>
            13<span class='ms-icone-usuario'/>              2<span class='ms-icone-tabela-celula-grande'/>  3<span class='ms-icone-diminui-volume'/><br>
            14<span class='ms-icone-usuarios'/>             2<span class='ms-icone-tabela-celula-pequena'/> 3<span class='ms-icone-aumenta-volume'/><br>
            15<span class='ms-icone-chave'/>                2<span class='ms-icone-tabela-lista'/>          3<span class='ms-icone-qr-codigo'/><br>
            16<span class='ms-icone-plug'/>                 2<span class='ms-icone-certo'/>                 3<span class='ms-icone-codigo-barras'/><br>
            17<span class='ms-icone-arquivo-zip'/>          2<span class='ms-icone-aumentar-busca'/>        3<span class='ms-icone-etiqueta'/><br>
            18<span class='ms-icone-arquivo-pdf'/>          2<span class='ms-icone-diminuir-busca'/>        3<span class='ms-icone-etiquetas'/><br>
            19<span class='ms-icone-arquivo-openoffice'/>   2<span class='ms-icone-desligar'/>              3<span class='ms-icone-livro'/><br>
            20<span class='ms-icone-arquivo-word'/>         2<span class='ms-icone-engrenagem'/>            3<span class='ms-icone-imprimir'/><br>

            21<span class='ms-icone-seta-circulo-cima'/>    2<span class='ms-icone-tinta'/>                 3<span class='ms-icone-mais-circulo'/><br>
            22<span class='ms-icone-caixa'/>                2<span class='ms-icone-editar'/>                3<span class='ms-icone-informacao-circulo'/><br>
            23<span class='ms-icone-camera'/>               2<span class='ms-icone-responder'/>             3<span class='ms-icone-mira'/><br>
            24<span class='ms-icone-fonte'/>                2<span class='ms-icone-caixa-certo'/>           3<span class='ms-icone-proibido'/><br>
            25<span class='ms-icone-negrito'/>              2<span class='ms-icone-tocar'/>                 3<span class='ms-icone-expandir'/><br>
            26<span class='ms-icone-lista'/>                2<span class='ms-icone-pausar'/>                3<span class='ms-icone-ver'/><br>
            27<span class='ms-icone-imagem'/>               2<span class='ms-icone-parar'/>                 3<span class='ms-icone-aviso'/><br>
            28<span class='ms-icone-lapis'/>                2<span class='ms-icone-ir'/>                    3<span class='ms-icone-aleatorio'/><br>
            29<span class='ms-icone-marcador-mapa'/>        2<span class='ms-icone-ejetar'/>                3<span class='ms-icone-sobe'/><br>
            30<span class='ms-icone-contraste'/>            2<span class='ms-icone-proximo'/>               3<span class='ms-icone-desce'/><br>

            31<span class='ms-icone-seta-vertical'/>        2<span class='ms-icone-telefone'/>              3<span class='ms-icone-ligacao'/><br>
            32<span class='ms-icone-setas-horiontal'/>      2<span class='ms-icone-quadrado'/>              3<span class='ms-icone-nuvem'/><br>
            33<span class='ms-icone-engrenagens'/>          2<span class='ms-icone-aberto'/>                3<span class='ms-icone-tesoura'/><br>
            34<span class='ms-icone-gostar'/>               2<span class='ms-icone-cartao'/>                3<span class='ms-icone-copiar'/><br>
            35<span class='ms-icone-gostar-nao'/>           2<span class='ms-icone-globo'/>                 3<span class='ms-icone-clip'/><br>
            36<span class='ms-icone-sair'/>                 2<span class='ms-icone-ferramenta'/>            3<span class='ms-icone-salvar'/><br>
            37<span class='ms-icone-tachinha'/>             2<span class='ms-icone-tarefas'/>               3<span class='ms-icone-menu-navegacao'/><br>
            38<span class='ms-icone-ligacao-externa'/>      2<span class='ms-icone-filtro'/>                3<span class='ms-icone-tachado'/><br>
            39<span class='ms-icone-entrar'/>               2<span class='ms-icone-tela-cheia'/>            3<span class='ms-icone-tabela'/><br>
            40<span class='ms-icone-subir-arquivo'/>        2<span class='ms-icone-grupo'/>                 3<span class='ms-icone-magica'/><br>

            41<span class='ms-icone-desce-triangulo'/>      2<span class='ms-icone-lampada'/>               3<span class='ms-icone-setas-duplas-esquerda'/><br>
            42<span class='ms-icone-sobe-triangulo'/>       2<span class='ms-icone-trocar'/>                3<span class='ms-icone-desktop'/><br>
            43<span class='ms-icone-esquerda-triangulo'/>   2<span class='ms-icone-nuvem-baixar'/>          3<span class='ms-icone-laptop'/><br>
            44<span class='ms-icone-colunas'/>              2<span class='ms-icone-nuvem-subir'/>           3<span class='ms-icone-tablet'/><br>
            45<span class='ms-icone-classificar'/>          2<span class='ms-icone-grupo'/>                 3<span class='ms-icone-celular'/><br>
            46<span class='ms-icone-classificar-menor'/>    2<span class='ms-icone-medico'/>                3<span class='ms-icone-feliz'/><br>
            47<span class='ms-icone-raio'/>                 2<span class='ms-icone-estetoscopio'/>          3<span class='ms-icone-triste'/><br>
            48<span class='ms-icone-fluxograma'/>           2<span class='ms-icone-arquivo-texto'/>         3<span class='ms-icone-teclado'/><br>
            49<span class='ms-icone-guarda-chuva'/>         2<span class='ms-icone-predio'/>                3<span class='ms-icone-bandeira'/><br>
            50<span class='ms-icone-colar'/>                2<span class='ms-icone-mais-quadrado-contraste'/>3<span class='ms-icone-localizacao'/><br>

            51<span class='ms-icone-terminal'/>             2<span class='ms-icone-escudo'/>                3<span class='ms-icone-lapis-contraste'/><br>
            52<span class='ms-icone-codigo'/>               2<span class='ms-icone-calendario-folha'/>      3<span class='ms-icone-bussula'/><br>
            53<span class='ms-icone-cortar'/>               2<span class='ms-icone-extintor'/>              3<span class='ms-icone-caixa-arquivo'/><br>
            54<span class='ms-icone-forquilha'/>            2<span class='ms-icone-foguete'/>               3<span class='ms-icone-cadeirante'/><br>
            55<span class='ms-icone-desligacao'/>           2<span class='ms-icone-ancora'/>                3<span class='ms-icone-mais-quadrado'/><br>
            56<span class='ms-icone-questao'/>              2<span class='ms-icone-alvo'/>                  3<span class='ms-icone-instituicao'/><br>
            57<span class='ms-icone-informacao'/>           2<span class='ms-icone-tocar-contraste'/>       3<span class='ms-icone-fax'/><br>
            58<span class='ms-icone-apagar'/>               2<span class='ms-icone-bilhete'/>               3<span class='ms-icone-edificio'/><br>
            59<span class='ms-icone-microfone-ligado'/>     2<span class='ms-icone-nivel-sobe'/>            3<span class='ms-icone-crianca'/><br>
            60<span class='ms-icone-microfone-desligado'/>  2<span class='ms-icone-nivel-desce'/>           3<span class='ms-icone-reciclar'/><br>

            61<span class='ms-icone-automovel'/>            /1<span class='ms-icone-arquivo-som'/>          3<span class='ms-icone-historico'/><br>
            62<span class='ms-icone-banco-de-dados'/>       /1<span class='ms-icone-arquivo-video'/>        3<span class='ms-icone-desenvolvimento'/><br>
            63<span class='ms-icone-arquivo-imagem'/>       /1<span class='ms-icone-arquivo-codigo'/>       3<span class='ms-icone-reciclar'/><br>
            63<span class='ms-icone-homologacao'/>          /1<span class='ms-icone-prototipo'/>            3<span class='ms-icone-reciclar'/><br>
        </div>
-->
	</div>
</div>